<ion-content padding *ngIf="paginaLogin">
  <div align="right">
    <button ion-button color="light" (click)="continuarSemLogar()">Continuar sem logar</button>
  </div>
  <h1 align="center" style="color:#f4f4f4;">Login</h1>
  <ion-item>        
    <ion-label floating><ion-icon name="person"></ion-icon> Email/Usuário:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="lock"></ion-icon> Senha:</ion-label>
    <ion-input clearInput type="password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <div align="right">
    <a style="color:#f4f4f4;">Esqueceu a senha?</a>
  </div>
  <div align="center">
    <button ion-button color="light" style="width:70%;" (click)="logar()">Entrar</button>
  </div>
  <!--
  <h3 style="color:#f4f4f4;" align="center">Ou entre com</h3>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img align="right" width="60" height="60" src="../assets/imgs/facebook.png"/>
      </ion-col>
      <ion-col>
        <img align="left" width="60" height="60" src="../assets/imgs/gmail.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <br/>
  <div align="center">
    <a style="color:#f4f4f4;" (click)="mudarPaginaCadastro()">Não possui uma conta?</a>
  </div>
</ion-content>

<ion-content padding class="conteudo" *ngIf="!paginaLogin">
  <div align="right">
    <button ion-button color="light" (click)="continuarSemLogar()">Continuar sem logar</button>
  </div>
  <h1 align="center" style="color:#f4f4f4;">Cadastro</h1>
  <ion-item>        
    <ion-label floating><ion-icon name="person"></ion-icon> Nome:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="phone-portrait"></ion-icon> Telefone:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="mail"></ion-icon> Email:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="lock"></ion-icon> Senha:</ion-label>
    <ion-input clearInput type="password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="lock"></ion-icon> Confirmar senha:</ion-label>
    <ion-input clearInput type="password" [(ngModel)]="usuario.confirmacaoSenhaCadastro"></ion-input>
  </ion-item>
  <div align="center">
    <button ion-button color="light" style="width:70%;" (click)="cadastrar()">Cadastrar</button>
  </div>
  <!--
  <h3 style="color:#f4f4f4;" align="center">Ou entre com</h3>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img align="right" width="60" height="60" src="../assets/imgs/facebook.png"/>
      </ion-col>
      <ion-col>
        <img align="left" width="60" height="60" src="../assets/imgs/gmail.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <br/>
  <div align="center">
    <a  (click)="mudarPaginaLogin()" style="color:#f4f4f4;">Já possui uma conta?</a>
  </div>
</ion-content>
