<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center" style="color:aliceblue;">
    {{usuario.nome}}
  </div>
  <div align="center">
    <img align="center" *ngIf="!photo" class="img_perfil" src="../assets/imgs/default.jpg"/>
    <img align="center" *ngIf="photo" class="img_perfil" src="{{photo}}"/>
    <div align="right">
      <img width="50" height="50" (click)="buscarAcoesCamera()" src="../assets/imgs/camera.png"/>
    </div>
  </div>
  <ion-item>        
    <ion-label floating><ion-icon name="person"></ion-icon> Nome:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="phone-portrait"></ion-icon> Telefone:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <br/>
  <div style="background-color: #fff;color:#000;padding:1em;">
    <ion-icon name="mail"></ion-icon> Email:{{usuario.email}}
  </div>
  <br/>
  <ion-item>        
    <ion-label floating><ion-icon name="pin"></ion-icon> CEP:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.cep"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="map"></ion-icon> Endereço:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.endereco"></ion-input>
  </ion-item>
  <br/>
  <ion-item>        
    <ion-label><ion-icon name="map"></ion-icon> Estado:</ion-label>
    <ion-select [(ngModel)]="usuario.estado">
      <ion-option value="macho">Macho</ion-option>
      <ion-option value="femea">Fêmea</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="map"></ion-icon> Cidade:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.cidade"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="lock"></ion-icon> Senha:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="lock"></ion-icon> Confirmar Senha:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="usuario.confirmacaoSenha"></ion-input>
  </ion-item>
  <div align="center">
    <button ion-button color="button_find" (click)="atualizar()">Atualizar</button>
  </div>
</ion-content>
