<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="right">
    <button ion-button color="button_find" (click)="atualizar()">Atualizar</button>
  </div>
  <ion-item>
    <ion-label>Alerta de perdidos próximo</ion-label>
    <ion-toggle [(ngModel)]="alertaPerdidosProximo"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Alerta de novas mensagens</ion-label>
    <ion-toggle [(ngModel)]="alertaNovasMensagens"></ion-toggle>
  </ion-item>
  <ion-item>
    <a>Termo de uso</a>
  </ion-item>
  <ion-item>
    <a>Política de privacidade</a>
  </ion-item>
</ion-content>
