<ion-menu [content]="content" id="myMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!usuarioLogado">Pet Perdido</ion-title>
      <ion-grid *ngIf="usuarioLogado">
        <ion-row>
          <ion-col col-4>
            <img *ngIf="foto" menuClose (click)="abrirPerfil()" align="center" class="menu_img_perfil" width="70" height="70" src="{{foto}}"/>
            <img *ngIf="!foto" menuClose (click)="abrirPerfil()" align="center" class="menu_img_perfil" width="70" height="70" src="../assets/imgs/default.jpg"/>
            <div style="text-align:center;">
              <a menuClose (click)="abrirPerfil()">Alterar</a>
            </div>
          </ion-col>
          <ion-col col-8>
            {{nome}}
            <br/>
            <a menuClose (click)="abrirConfig()">Configurações</a>
          </ion-col>
        </ion-row>
      </ion-grid>       
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icone}}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>