.toast-error-class{
    text-align:center;
    > div{
        background-color:#c23616!important;
    }
}

.toast-success-class{
    text-align:center;
    > div{
        background-color:#44bd32!important;
    }
}

.toast-default{
    text-align:center;
    > div{
        background-color:#44bd32!important;
    }
}

.img_card{
    border:1px solid #e74c3c;
}

.animal_detail_card{
    text-align: left;
}

.titulo_animal_perdido{
    text-align: center;
}

.recompensa_texto{
    color:#c0392b;
}

ion-card {
    border-top: 5px solid #e74c3c;
    border-left: 3px dotted #e74c3c;
}

.swiper-pagination-bullet-active {
    background: #c0392b;
}

.menu_img_perfil{
    border-radius:50%;
    width:80%;
}

.img_perfil{
    border-radius:50%;
    width:100%;
}

.qrcode_icon{
    border-radius:50%;
}