<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Procurar Dono</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img style="background-color:#fff;margin-bottom:1px;" (click)="qrCodeAlert()" align="right" width="30" height="30" src="../assets/imgs/qrcode.png"/>
  <ion-item>        
    <ion-label><ion-icon name="search"></ion-icon> Animal:</ion-label>
    <ion-select [(ngModel)]="animal">
      <ion-option value="cachorro">Cachorro</ion-option>
      <ion-option value="gato">Gato</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>        
    <ion-label><ion-icon name="search"></ion-icon> Sexo:</ion-label>
    <ion-select [(ngModel)]="sexo">
      <ion-option value="macho">Macho</ion-option>
      <ion-option value="femea">Fêmea</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="map"></ion-icon> Local em que foi encontrado ou raça:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="local"></ion-input>
  </ion-item>
  <div align="center">
    <button ion-button color="button_find">Procurar dono</button>
  </div>
</ion-content>
