<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus bichos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img (click)="cadastrarPet()" align="right" width="70" height="70" src="../assets/imgs/add.png"/>
  <ion-card>
    <br/>
    <div>
      <h1 class="titulo_animal_perdido" *ngIf="!bichoPerdido">
        Bilu - Labrador
      </h1>
      <h1 class="titulo_animal_perdido" *ngIf="bichoPerdido">
        Bilu - Labrador perdido
      </h1>
    </div>
    <ion-card-header>
      <div align="right">
        <ion-img class="qrcode_icon" (click)="qrCodeAlert()" width="50" height="50" src="../assets/imgs/qrcode.png"></ion-img>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="img_card">
            <ion-slides pager>
              <ion-slide>
                <img width="100" height="100" src="../assets/imgs/labrador.jpg"/>
              </ion-slide>
              <ion-slide>
                <img width="100" height="100" src="../assets/imgs/labrador.jpg"/>
              </ion-slide>
              <ion-slide>
                <img width="100" height="100" src="../assets/imgs/labrador.jpg"/>
              </ion-slide>
              <ion-slide>
                <img width="100" height="100" src="../assets/imgs/labrador.jpg"/>
              </ion-slide>
              <ion-slide>
                <img width="100" height="100" src="../assets/imgs/labrador.jpg"/>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col col-6 text-wrap class="animal_detail_card">
            <div align="center">
              Cachorro
            </div>
            <br/>
            Nome: Bilu
            <br/>
            Cor: amarela
            <br/>
            Raça: Labrador
            <br/>
            Sexo: macho
            <br/>
            Idade: 8 anos
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-header>
    <ion-card-content>
      <ion-card-content *ngIf="bichoPerdido">
        <h1 class="recompensa_texto">
          Recompensa: R$ 30
        </h1>
        <h2>
          Perdido em: QR 207, Conjunto 01
          <br/>
          Samambaia Norte - Brasília (DF)
          <br/>
          CEP: 72304-301
          <br/>
          Data: 10/11/2018
        </h2>
        <a align="right">Alterar</a>
      </ion-card-content>
      <div align="right">
        <button *ngIf="!bichoPerdido" ion-button color="button_find">Bilu está perdido?</button>
        <button *ngIf="bichoPerdido" ion-button color="secondary">Encontrou o Bilu?</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
