<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar Pet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="right">
    <img width="50" height="50" src="../assets/imgs/camera.png" (click)="buscarAcoesCamera()"/>
  </div>
  <ion-grid>
    <ion-row *ngFor="let pet of pets">
      <ion-col>
        <img width="100" height="80" src="{{pet.imagem}}"/>
      </ion-col>      
    </ion-row>
  </ion-grid>
  <ion-item>        
    <ion-label floating><ion-icon name="bowtie"></ion-icon> Nome:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="pet.nome"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="brush"></ion-icon> Cor:</ion-label>
    <ion-input clearInput type="text" [(ngModel)]="pet.cor"></ion-input>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="heart"></ion-icon> Pet:</ion-label>
    <ion-select [(ngModel)]="pet.tipoPet">
      <ion-option value="cachorro">Cachorro</ion-option>
      <ion-option value="gato">Gato</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="finger-print"></ion-icon> Raça:</ion-label>
    <ion-select [(ngModel)]="pet.raca">
      <ion-option value="macho">Macho</ion-option>
      <ion-option value="femea">Fêmea</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>        
    <ion-label floating><ion-icon name="male"></ion-icon> Sexo:</ion-label>
    <ion-select [(ngModel)]="pet.sexo">
      <ion-option value="macho">Macho</ion-option>
      <ion-option value="femea">Fêmea</ion-option>
    </ion-select>
  </ion-item>
  <ion-grid style="background-color: #fff;">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating><ion-icon name="infinite"></ion-icon> Idade:</ion-label>
          <ion-input clearInput type="number" [(ngModel)]="pet.idade"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating><ion-icon name="infinite"></ion-icon> Tempo:</ion-label>
          <ion-select [(ngModel)]="pet.idadeTempo">
            <ion-option value="anos">Anos</ion-option>
            <ion-option value="meses">Meses</ion-option>
            <ion-option value="dias">Dias</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>        
    <ion-label floating><ion-icon name="bulb"></ion-icon> {{textoPet}}</ion-label>
    <ion-select [(ngModel)]="pet.perdido">
      <ion-option value="true">Sim</ion-option>
      <ion-option value="false">Não</ion-option>
    </ion-select>
  </ion-item>
  <div align="center">
    <button ion-button color="button_find" (click)="salvar()">Salvar pet</button>
  </div>
</ion-content>
